 
<div class="container">
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <div class="card my-5 bg-light">
                <div class="card-body">
                    <h1 class="m-3 card-title d-flex justify-content-center bg-dark text-light fw-bold">Welcome!</h1>
                    <h4 class=" m-3 card-title fw-bold text-dark d-flex justify-content-center">To Angular Contact Manager</h4>
                    <p class="m-3 fst-italic text-dark">Get started by clicking below!</p>
                    <a class="m-3 btn btn-dark ms-2 d-flex justify-content-center " routerLink="/contacts/login">login</a>
                </div>
            </div>
        </div>
    </div>
</div>
