<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 text-light">Contacts
                <a routerLink="/contacts/add" class="btn btn-success btn-sm">
                    <i class='fa fa-plus-circle me-2'></i>New</a>
            </p>
            <p class="text-light fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vero dolor, suscipit unde deleniti consequuntur recusandae error minima modi repudiandae aspernatur quia temporibus ipsam.</p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search User ">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-dark" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- loading spinner-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-danger fw-bold ">{{errorMessage}}</p>
        </div>
    </div>
  </div>  
</div>


<!-- cards -->
<div *ngIf="!loading && contacts.length > 0" class="container mt-3">
    <div class="row">
        <div *ngFor="let contact of contacts " class="col-md-6" >
            <div class="card list-group-item-light shadow-lg my-2">
                <div class="card-body">
                   <div class="row align-items-center">
                    <div class="col-sm-4">
                        <img [src]="contact.photo" alt="" class="contact-img">
                    </div>
                    <div class="col-sm-7">
                        <ul class="list-group">
                            <li class="list-group-item" >Name : <span class="fw-bold">{{contact.name}} </span> </li>
                            <li class="list-group-item" >Email : <span class="fw-bold">{{contact.email}} </span> </li>
                            <li class="list-group-item" >Mobile : <span class="fw-bold">{{contact.mobile}} </span> </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                        <a class="btn btn-dark my-1" routerLink="/contacts/view/{{contact.id}}">
                            <i class="fa fa-eye"></i>
                        </a> 
                        <a class="btn btn-dark my-1" routerLink="/contacts/edit/{{contact.id}}">
                            <i class="fa fa-pen"></i>
                        </a>
                        <button class="btn btn-dark my-1" (click)="clickDeleteContact(contact.id)">
                            <i class="fa fa-trash-alt"></i>
                        </button>                        
                    </div>
                   </div>  
                </div>
            </div>
        </div>
    </div>
</div>